*
!nginx.conf
!index.html
!style.css
!guide.css
!app.js
!content.js
!expansion-family.js
!expansion-rights.js
!expansion-lifecourse.js
!pathways.js
!favicon.svg
!robots.txt
!sitemap.xml
!es/
!es/index.html
!topics/
!topics/**
!es/temas/
!es/temas/**
!editorial/
!editorial/index.html
!es/metodologia/
!es/metodologia/index.html
